<link rel="stylesheet" href="/CSS/navAndfooter.css">

<footer class="footer-bg border-top py-5 mt-3">
  <div class="container">
    <div class="row">

      <div class="col-12 col-md-4 mb-4 mb-md-0">
        <h5 class="fw-bold">Support</h5>
        <ul class="list-unstyled footer-links">
          <li>
            <a href="https://www.airbnb.co.in/help" class="text-decoration-none"
              >Help Center</a
            >
          </li>
          <li>
            <a
              href="https://www.airbnb.co.in/accessibility"
              class="text-decoration-none"
              >Accessibility</a
            >
          </li>
          <li>
            <a
              href="https://www.airbnb.co.in/help/article/1320"
              class="text-decoration-none"
              >Cancellation options</a
            >
          </li>
        </ul>
      </div>

      <div class="col-12 col-md-4 mb-4 mb-md-0">
        <h5 class="fw-bold">Community</h5>
        <ul class="list-unstyled footer-links">
          <li>
            <a
              href="https://www.airbnb.co.in/help/topic/272"
              class="text-decoration-none"
              >Hosting responsibly</a
            >
          </li>
          <li>
            <a
              href="https://www.airbnb.co.in/host/experiences"
              class="text-decoration-none"
              >WanderSTAY Experiences</a
            >
          </li>
          <li>
            <a
              href="https://www.airbnb.co.in/against-discrimination"
              class="text-decoration-none"
              >Combating discrimination</a
            >
          </li>
        </ul>
      </div>

      <div class="col-12 col-md-4 mb-4 mb-md-0">
        <h5 class="fw-bold">About</h5>
        <ul class="list-unstyled footer-links">
          <li>
            <a href="https://news.airbnb.com/" class="text-decoration-none"
              >Newsroom</a
            >
          </li>
          <li>
            <a href="https://careers.airbnb.com/" class="text-decoration-none"
              >Careers</a
            >
          </li>
          <li>
            <a
              href="https://investors.airbnb.com/home/"
              class="text-decoration-none"
              >Investors</a
            >
          </li>
          <li>
            <a href="https://www.airbnb.org/" class="text-decoration-none"
              >WanderSTAY.org emergency stays</a
            >
          </li>
        </ul>
      </div>

    </div>

    <hr class="my-4" />

    <div
      class="d-flex flex-column flex-md-row justify-content-between align-items-center"
    >
      <div class="text-center text-md-start mb-3 mb-md-0">
        <span class="text-muted">&copy; 2025 WanderSTAY Private Limited</span>
        <span class="mx-2 text-muted">| </span>
        <a
          href="https://www.airbnb.co.in/help/article/2855"
          class="text-decoration-underline text-primary"
          >Privacy</a
        >
        <span class="mx-2 text-muted">| </span>
        <a
          href="https://www.airbnb.co.in/help/article/2908"
          class="text-decoration-underline text-primary"
          >Terms</a
        >
      </div>

      <div class="social-footer-compact">
        <div class="social-links">
          <a
            href="https://github.com/Anmol-Mittal30"
            target="_blank"
            aria-label="GitHub"
          >
            <div class="social-item">
              <i class="fa-brands fa-github"></i>
              <span class="social-text-link">GitHub</span>
            </div>
          </a>

          <a
            href="https://www.instagram.com/anmol__mittal3/"
            target="_blank"
            aria-label="Instagram"
          >
            <div class="social-item">
              <i class="fa-brands fa-instagram"></i>
              <span class="social-text-link">Instagram</span>
            </div>
          </a>

          <a
            href="https://www.linkedin.com/in/anmol-mittal-268a57289/"
            target="_blank"
            aria-label="LinkedIn"
          >
            <div class="social-item">
              <i class="fa-brands fa-linkedin"></i>
              <span class="social-text-link">LinkedIn</span>
            </div>
          </a>

        </div>

        <div class="creator-info">
          <span>Created by <b>Anmol Mittal</b></span>
          <span class="mx-2">&middot;</span>
          <span
            ><i class="fa-solid fa-envelope"></i>
            mittalanmol0309@gmail.com</span
          >
        </div>

      </div>
    </div>

  </div>
</footer>
